#cssWall * {
    all: initial;
    align-content: initial;
    align-items: initial;
    align-self: initial;
    animation: initial;
    backface-visibility: initial;
    background: initial;
    block-size: initial;
    border: initial;
    border-collapse: initial;
    border-image: initial;
    border-radius: initial;
    border-spacing: initial;
    bottom: initial;
    box-shadow: initial;
    box-sizing: initial;
    break-after: initial;
    break-before: initial;
    break-inside: initial;
    caption-side: initial;
    caret-color: initial;
    clear: initial;
    clip: initial;
    clip-path: initial;
    color: initial;
    column-count: initial;
    column-fill: initial;
    column-gap: initial;
    column-rule: initial;
    column-span: initial;
    column-width: initial;
    columns: initial;
    content: initial;
    counter-increment: initial;
    counter-reset: initial;
    cursor: initial;
    direction: initial;
    display: initial;
    empty-cells: initial;
    filter: initial;
    flex: initial;
    flex-basis: initial;
    flex-direction: initial;
    flex-flow: initial;
    flex-grow: initial;
    flex-shrink: initial;
    flex-wrap: initial;
    float: initial;
    font: initial;
    @font-face: initial;
    font-family: initial;
    font-feature-settings: initial;
    @font-feature-values: initial;
    font-kerning: initial;
    font-language-override: initial;
    font-size: initial;
    font-size-adjust: initial;
    font-stretch: initial;
    font-style: initial;
    font-synthesis: initial;
    font-variant: initial;
    font-variant-alternates: initial;
    font-variant-caps: initial;
    font-variant-east-asian: initial;
    font-variant-ligatures: initial;
    font-variant-numeric: initial;
    font-variant-position: initial;
    font-weight: initial;
    grid: initial;
    grid-area: initial;
    grid-auto-columns: initial;
    grid-auto-flow: initial;
    grid-auto-rows: initial;
    grid-column: initial;
    grid-column-end: initial;
    grid-column-gap: initial;
    grid-column-start: initial;
    grid-gap: initial;
    grid-row: initial;
    grid-row-end: initial;
    grid-row-gap: initial;
    grid-row-start: initial;
    grid-template: initial;
    grid-template-areas: initial;
    grid-template-columns: initial;
    grid-template-rows: initial;
    hanging-punctuation: initial;
    height: initial;
    hyphens: initial;
    image-orientation: initial;
    image-rendering: initial;
    image-resolution: initial;
    justify-content: initial;
    left: initial;
    letter-spacing: initial;
    line-break: initial;
    line-height: initial;
    list-style: initial;
    list-style-image: initial;
    list-style-position: initial;
    list-style-type: initial;
    margin: initial;
    margin-block-end: initial;
    margin-block-start: initial;
    margin-bottom: initial;
    margin-inline-end: initial;
    margin-inline-start: initial;
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
    mask: initial;
    mask-clip: initial;
    mask-composite: initial;
    mask-image: initial;
    mask-mode: initial;
    mask-origin: initial;
    mask-position: initial;
    mask-repeat: initial;
    mask-size: initial;
    mask-type: initial;
    max-height: initial;
    max-width: initial;
    min-block-size: initial;
    min-height: initial;
    min-inline-size: initial;
    min-width: initial;
    mix-blend-mode: initial;
    object-fit: initial;
    object-position: initial;
    offset-block-end: initial;
    offset-block-start: initial;
    offset-inline-end: initial;
    offset-inline-start: initial;
    opacity: initial;
    order: initial;
    orphans: initial;
    outline: initial;
    outline-color: initial;
    outline-offset: initial;
    outline-style: initial;
    outline-width: initial;
    overflow: initial;
    overflow-wrap: initial;
    overflow-x: initial;
    overflow-y: initial;
    padding: initial;
    padding-block-end: initial;
    padding-block-start: initial;
    padding-bottom: initial;
    padding-inline-end: initial;
    padding-inline-start: initial;
    padding-left: initial;
    padding-right: initial;
    padding-top: initial;
    page-break-after: initial;
    page-break-before: initial;
    page-break-inside: initial;
    perspective: initial;
    perspective-origin: initial;
    pointer-events: initial;
    position: initial;
    quotes: initial;
    resize: initial;
    right: initial;
    tab-size: initial;
    table-layout: initial;
    text-align: initial;
    text-align-last: initial;
    text-combine-upright: initial;
    text-decoration: initial;
    text-decoration-color: initial;
    text-decoration-line: initial;
    text-decoration-style: initial;
    text-emphasis: initial;
    text-emphasis-color: initial;
    text-emphasis-position: initial;
    text-emphasis-style: initial;
    text-indent: initial;
    text-justify: initial;
    text-orientation: initial;
    text-overflow: initial;
    text-rendering: initial;
    text-shadow: initial;
    text-transform: initial;
    text-underline-position: initial;
    top: initial;
    transform: initial;
    transform-box: initial;
    transform-origin: initial;
    transform-style: initial;
    transition: initial;
    transition-delay: initial;
    transition-duration: initial;
    transition-property: initial;
    transition-timing-function: initial;
    vertical-align: initial;
    visibility: initial;
    white-space: initial;
    widows: initial;
    width: initial;
    word-break: initial;
    word-spacing: initial;
    word-wrap: initial;
    writing-mode: initial;
    z-index: initial;
}