@charset "utf-8";

@media screen and (max-width: 600px){
	body { 
		font-size: 90%;
	}
	#header {
		height: 40px;
	}
	#apptitle {
		top: 7px;
		padding-right: 40px;
		padding-top: 7px;
		text-overflow: ellipsis;
		font-size: 80%;
	}
	#menuebutton {
		display: block;
	}
	#navigation {
		position: fixed;
		top: 0px;
		right: 100%;
		bottom: 0px;
		left: -75%;
		width: 75%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		transition: left 0.3s ease-out;
		z-index: 110;
	}
	#navigation.openMenue {
		left: 0%;
		transition: left 0.3s ease-out;
	}
	
	#navigation ul li {
		display: block;
		float: none;
		font-size: 120%;
		border-bottom: 1px solid #999999;
	}
	#navigation ul li div {
		padding: 10px 40px 10px 10px;
	}
	
	#navigation ul li ul {
		display: block !important;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 100%;
		margin: 0px 0px 0px 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
		padding-top: 0;
		transition: left 0.3s ease-out;
	}
	#navigation ul li ul.openSubmenue {
		left:  0%;
		transition: left 0.3s ease-out;
	}
	#navigation li ul li div {
		padding: 10px 10px 10px 10px;
	}
	
	.navRight {
		float: none;
		margin-right: 0px !important;
		padding-right: 0px !important;
		background-position: 10px 10px;
	}
	.navRight li ul {
		right: 0px !important;
		width: 100% !important;
	}
	.navRight li {
		font-weight: normal !important;
	}
	#navLogout {
		padding: 10px 20px 10px 12px;
	}
	.menueCloseMain,
	.menueClose {
		display: block !important;
	}
	.iconSubmenue {
		background-image: url("../img/submenue-222222.png");
	}
	#breadcrumb {
		top: 40px;
	}
	#breadcrumbInner {
		padding-top: 3px;
	}
	#breadcrumbbutton .fa {
		font-size: 205%;
		margin-top: -6px;
		margin-left: 5px;
	}
	
	#content {
		top: 65px;
	}
	
	.gridBarFunctions {
		display: none;
		position: absolute;
		top: 20px;
		z-index: 1000;
		left: 50px;
	}
	.gridBarFunctionsMobile {
		width: 100% !important;
		display: block !important;
		position: fixed !important;
		top: 94px !important;
		left: 0px !important;
		height: 100px !important;
		z-index: 1000 !important;
	}
	.tabModulFilter {
		border-bottom: 1px solid #999999;
	}
	.tabModulFilterInner {
		display: none;
	}
	.tabModulFilterMobile {
		display: block;
		position: fixed;
		top: 94px;
		left: 0;
		z-index: 1000;
		background-color: #999;
		height: 100px;
		width: 100%;
	}


	.tabModulFilter, .tabFormFilter, .folderModulFilter {
		height: 30px;
	}	
	.ui-jqgrid .ui-jqgrid-sortable {
		height: 20px !important;
	}	
	.ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea, .ui-jqgrid .ui-jqgrid-view button {
		font-size: 15px;
	}
	.gridCellFold {
		height: 27px;
	}	
	.ui-jqgrid .ui-jqgrid-view {
		font-size: 15px;
	}
	.ui-jqgrid tr.jqgrow td {
		padding-top: 6px;
		padding-bottom: 10px;
	}

	.modulIconBox {
		width: 20px;
		height: 20px;
	}
	.modulIcon .fa{
	}

	.gridPager {
		height: 70px;
	}
	.gridPagerLeft {
		width: 50%;
	}
	.gridPagerRight {
		width: 50%;
	}
	.gridPagerCenter {
		width: 100%;
		clear: both;
	}
	.gridMenueFunctions {
		display: inline-block;
	}
	.tabModulFilterInnerMobile {
		display: block;
	}

	.modulIconBox .fa-navicon {
		margin: 3px 0 0 3px !important;
	}
	.modulIconBox .fa-chevron-down {
		margin: 1px 0 0 1px !important;
	}
	.modulIconBox .fa-chevron-up {
		margin: 1px 0 0 1px !important;
	}
	.modulFilter .modulIconBox .fa-chevron-down {
		margin: 2px 0 0 2px !important;
	}
	.modulFilter .modulIconBox .fa-chevron-up {
		margin: 2px 0 0 2px !important;
	}
}






@media screen and (max-width: 550px) {
	#loginOuter {
		width: 95%;
		margin: 10px 0 0 10px;
		box-sizing: border-box;
	}
	#loginOuter .formLabel {
		float: none;
		width: 100%;
	}
	#loginOuter .formField {
		margin-left: 0px;
	}

	.textfield {
		padding: 5px 5px;
	}
	.formButton {
		padding: 10px 0px; 
	}
}
